In [1]:
import pandas as pd
import requests
import lau 
import cps
from lau import *
from cps import *

In [2]:
extract_lau()

In [3]:
data_2010 = get_lau_data('la.data.0.CurrentU10-14.txt')
data_2015 = get_lau_data('la.data.0.CurrentU15-19.txt')
data_2020 = get_lau_data('la.data.0.CurrentU20-24.txt')

data_dfs = [data_2010,data_2015,data_2020]

df = pd.concat(data_dfs,ignore_index=True)

/Users/mcastillo/Documents/GitHub/rmi-energy-communities/src/energy_comms/extract/lau.py:45: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bls = pd.read_table(lau_file)
/Users/mcastillo/Documents/GitHub/rmi-energy-communities/src/energy_comms/extract/lau.py:45: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bls = pd.read_table(lau_file)

In [4]:
# convert to clean df

df = df.rename(columns={'value':'local_area_unemployment'})

lau_df = df[['area_text','geographic_level','state_code','geoid','year','local_area_unemployment']]

lau_df

,area_text,geographic_level,state_code,geoid,year,local_area_unemployment
0,"Autauga County, AL",county,01,001,2010,8.8
1,"Autauga County, AL",county,01,001,2011,8.3
2,"Autauga County, AL",county,01,001,2012,7.1
3,"Autauga County, AL",county,01,001,2013,6.3
4,"Autauga County, AL",county,01,001,2014,5.8
...,...,...,...,...,...,...
43377,"Ponce, PR Metropolitan Statistical Area",metropolitan_stat_area,72,386600,2021,9.6
43378,"San German, PR Metropolitan Statistical Area",metropolitan_stat_area,72,419000,2020,-
43379,"San German, PR Metropolitan Statistical Area",metropolitan_stat_area,72,419000,2021,9.6
43380,"San Juan-Carolina-Caguas, PR Metropolitan Stat...",metropolitan_stat_area,72,419800,2020,-
43381,"San Juan-Carolina-Caguas, PR Metropolitan Stat...",metropolitan_stat_area,72,419800,2021,7.2

In [5]:
cps = get_cps()

/Users/mcastillo/Documents/GitHub/rmi-energy-communities/src/energy_comms/extract/cps.py:51: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  annual_average = annual_average.append({'year':2019,'value':3.7},ignore_index=True)
/Users/mcastillo/Documents/GitHub/rmi-energy-communities/src/energy_comms/extract/cps.py:52: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  annual_average = annual_average.append({'year':2020,'value':8.1},ignore_index=True)

In [6]:
cps

    year  national_unemployment_rate_prev_year
0   2010                                   9.3
1   2011                                   9.6
2   2012                                   8.9
3   2013                                   8.1
4   2014                                   7.4
5   2015                                   6.2
6   2016                                   5.3
7   2017                                   4.9
8   2018                                   4.4
9   2019                                   3.9
10  2020                                   3.7
11  2021                                   8.1

In [7]:
unemployment_figures = lau_df.merge(cps,on='year',how='left')

In [9]:
unemployment_figures

,area_text,geographic_level,state_code,geoid,year,local_area_unemployment,national_unemployment_rate_prev_year
0,"Autauga County, AL",county,01,001,2010,8.8,9.3
1,"Autauga County, AL",county,01,001,2011,8.3,9.6
2,"Autauga County, AL",county,01,001,2012,7.1,8.9
3,"Autauga County, AL",county,01,001,2013,6.3,8.1
4,"Autauga County, AL",county,01,001,2014,5.8,7.4
...,...,...,...,...,...,...,...
43377,"Ponce, PR Metropolitan Statistical Area",metropolitan_stat_area,72,386600,2021,9.6,8.1
43378,"San German, PR Metropolitan Statistical Area",metropolitan_stat_area,72,419000,2020,-,3.7
43379,"San German, PR Metropolitan Statistical Area",metropolitan_stat_area,72,419000,2021,9.6,8.1
43380,"San Juan-Carolina-Caguas, PR Metropolitan Stat...",metropolitan_stat_area,72,419800,2020,-,3.7
43381,"San Juan-Carolina-Caguas, PR Metropolitan Stat...",metropolitan_stat_area,72,419800,2021,7.2,8.1

In [12]:
import hub

from hub import constants as c

/opt/anaconda3/envs/hub/lib/python3.10/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.11.0-CAPI-1.17.0). Conversions between both will be slow.
  warnings.warn(

In [16]:
unemployment_figures = unemployment_figures.to_csv('/Users/mcastillo/Documents/GitHub/rmi-energy-communities/notebooks/files/unemployment.csv')